.alert-box{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.181);
    z-index: 10;
}
.alert-box-body{
    background-color:white;
    width: 50%;
    height: 60vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 100px -50px grey;
    animation: anime .3s;
    overflow: hidden;
}
.alertIcon{
    animation: animeOpacity .2s;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    color: white;
    background-color: #000540;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 100px 50px #bdc1ec;
}
.alertIcon .icon{
    font-size: 3.7rem;
}
.quiz-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animeOpacity .2s;
}
.quiz-score h1{
    font-size:2.2rem;
}
.quiz-score h2{
    padding-top: 0px;
    font-size: .9rem;
    padding-bottom: 20px;
    opacity: 80%;
}

.play-again{
    width: 100%;  
    display:flex;
    justify-content:center;
    animation: animeOpacity .2s;
}
.play-again-btn{
    width: 50%;
    height: 50px;
    font-size:.8rem;
    border: none;
    color: white;
    font-weight:550;
    background-color:#000540;
    border-radius: 50px;
    transition: 0.2s;

}
.play-again-btn:hover{
    background-color:#000540db;

}
@keyframes anime {
    from {
        width: 30%;
        height: 30vh;
    }
  
    to {
        width: 50%;
        height: 60vh;
    }
  }
@keyframes animeOpacity {
    from {
        opacity: 0%;
    }
  
    to {
       opacity: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .alert-box-body{
        width: 83%;
        height: 40vh;
        border-radius: 20px;
        padding-top:20px;
        justify-content:space-around;
    }
    .alertIcon{
        border-radius: 60px;
        width: 100px;
        height: 100px;
    }
    .alertIcon .icon{
        font-size:2.7rem;
    }
    .quiz-score h1{
        font-size:2.3rem;
    }
    .quiz-score h2{
        font-size:1.3rem;
    }
    .play-again-btn{
        width: 75%;
        height: 70px;
        font-size:1.2rem;
        border: none;
        color: white;
        font-weight:550;
        background-color:#000540;
        border-radius: 40px;
    
    }
    @keyframes anime {
        from {
            opacity: 0%;
        }
      
        to {
            opacity: 100%;
        }
      }
  }