html,
body {
  margin: 0;
  padding: 0;
  color: #000540;
}
.background {
  background: url('../assets/image/vackground-0F2pC8_DwvM-unsplash.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  top: 0;
  left: 0;
  z-index: -10;
}

